# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython
DOWNLOAD_HOST_DOMAIN=http://blahblah.com
HASH_SECRET=asretrfewru89uer8ejh
ZARINPAL_MERCHANT_ID=xx-xx-x-xxxxx
